
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider Theme="Theme" />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />


<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Style="cursor:pointer" @onclick="()=>GoToHomePage()">
            Job Boards Application
        </MudText>
        <MudSpacer />
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit">

            @if (ClientAuthService.AuthenticationState.User.IsInRole(RoleConstants.Admin))
            {
                <MudMenuItem Href="/recruiter-admin-homepage">Admin Homepage</MudMenuItem>
            }
            else
            {
                <MudMenuItem OnClick="()=>GoToLink()">Profile</MudMenuItem>
            }
          
            <MudMenuItem OnClick="()=>GoToLoginPage()" >Logout</MudMenuItem>

            
        </MudMenu>
    </MudAppBar>
    <MudMainContent>

        <main class="pa-5">
            @Body
        </main>
    </MudMainContent>
</MudLayout>

@code{
    public void GoToHomePage()
    {
        NavigationManager.NavigateTo("/");
    }
    public void GoToLink(){
        NavigationManager.NavigateTo("/applicant-information/0");
    }
    public void GoToLoginPage(){
        NavigationManager.NavigateTo("/login");
    }
}
