@page "/"

<JobsSearchBar />

@if (ClientAuthService.AuthenticationState.User.IsInRole("Applicant"))
{
	<div>
		You are an Applicant Now
	</div>
}
<!---->
<p class="mt-4">We Found 853 jobs</p>

@foreach (var job in JobList)
{
	<a href="/job-information" class="mt-3">
		<JobsItem Job="job" />
	</a>
}



