@page "/recruiter-admin-homepage"
<MudGrid>
	<MudItem xs="12" md="6">
		<MudCard Elevation="2">
			<MudCardContent Class="d-flex align-center">
				<MudImage Class="mr-3" Elevation="2" Style="border-radius:100%" Src="images/image.jpeg" Width="100" Height="100"></MudImage>
				<div class="d-flex justify-center flex-column">
					<MudText Style="font-weight:bold">Microsoft</MudText>
					<MudText Typo="Typo.subtitle2" >Abuja</MudText>
					<MudText Typo="Typo.subtitle2">Software and Hardware</MudText>
					<MudText Typo="Typo.subtitle2">jobs@microsoft</MudText>
				</div>
				
			</MudCardContent>
			<MudCardActions Class="d-flex justify-center">
				<MudButton Href="/recruiter-information/0" Variant="Variant.Text" Color="Color.Primary">Go To Profile</MudButton>
			</MudCardActions>
				
		</MudCard>
	</MudItem>
	<MudItem xs="12" md="6" Class="d-flex ">

		<MudCard Elevation="2" Style="flex-basis:50%">
			<MudCardContent Class="d-flex pa-0 align-center flex-column">
				<MudImage Class="my-2" Elevation="2" Style="border-radius:100%" Src="images/image.jpeg" Width="100" Height="100"></MudImage>
				<MudText Style="font-weight:bold">Search For Applicants</MudText>
			</MudCardContent>
			<MudCardActions Class="d-flex justify-center">
				<MudButton Href="/view-prospective-applicants" Variant="Variant.Text" Color="Color.Primary">Search</MudButton>
			</MudCardActions>
		</MudCard>

		<MudCard Elevation="2" Class="ml-2" Style="flex-basis:50%">
			<MudCardContent Class="d-flex pa-0 align-center flex-column">
				<MudImage Class="my-2" Elevation="2" Style="border-radius:100%" Src="images/image.jpeg" Width="100" Height="100"></MudImage>
				<MudText Style="font-weight:bold">Create New Job</MudText>
			</MudCardContent>
			<MudCardActions Class="d-flex justify-center">
				<MudButton Href="/job-create" Variant="Variant.Text" Color="Color.Primary">Create</MudButton>
			</MudCardActions>
		</MudCard>
	</MudItem>
	<MudItem xs="12" md="6">
		<MudCard>
			<MudCardHeader Style="font-weight:bold;">Current Applicants</MudCardHeader>
			<MudCardContent>
				<MudDataGrid Breakpoint="Breakpoint.None" Elevation="0" Items="@Applicants.Take(4)">
					<Columns>
						<PropertyColumn Property="x => x.Name" Title="Name" />
						<PropertyColumn Property="x => x.JobTitle" Title="Job" />
						<PropertyColumn Property="x => x.Email" Title="Email" />
						<PropertyColumn Property="x => x.Salary" Title="Salary" />
					</Columns>
				</MudDataGrid>
			</MudCardContent>
			<MudCardActions Class="d-flex justify-end">
				<MudButton Href="/view-your-applicants" Variant="Variant.Text" Color="Color.Primary">Check Applicants</MudButton>
			</MudCardActions>
		</MudCard>
		
	</MudItem>

	<MudItem xs="12" md="6">
		<MudCard>
			<MudCardHeader Style="font-weight:bold;">Current Jobs</MudCardHeader>
			<MudCardContent>
				<MudDataGrid Breakpoint="Breakpoint.None" Elevation="0" Items="@JobItems.Take(4)">
					<Columns>
						<PropertyColumn Property="x => x.JobTitle" Title="Job Title" />
						<PropertyColumn Property="x => x.Salary" Title="Salary" />
						<PropertyColumn Property="x => x.ContactEmail" Title="Contact Email" />
					</Columns>
				</MudDataGrid>
			</MudCardContent>
			<MudCardActions Class="d-flex justify-end">
				<MudButton Href="/view-your-jobs" Variant="Variant.Text" Color="Color.Primary">Check Jobs</MudButton>
			</MudCardActions>
		</MudCard>
	</MudItem>

</MudGrid>



