@page "/recruiter-information"
<MudContainer>

	<MudGrid>
		<MudItem md="7" sm="5">
			<!------------------>
			<MudText Typo="Typo.h5" Style="font-weight:bolder">David's Technologies</MudText>


			<div class="d-flex">
				<MudText Typo="Typo.caption" Style="font-weight:lighter">Nigeria, Port Harcourt</MudText>
			</div>

			<MudText Typo="Typo.h6" Class="mt-5" Style="font-weight:bolder">About</MudText>

			<MudText Typo="Typo.body1">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit.
				Sunt necessitatibus eum quidem!
				Consequatur nemo fugit quo.
				Iure veritatis saepe repudiandae! Consequuntur atque, vitae eveniet magnam quam saepe
				maiores iusto autem.
			</MudText>


			<!------------------>


		</MudItem>
		<MudItem md="5" sm="5">
			
			
			<MudList>
				<MudListItem Avatar="@Icons.Material.Filled.Mail">
					<MudText Typo="Typo.h6" Style="font-weight:bold">guonnie@gmail.com</MudText>
					<MudText Typo="Typo.body2">Contact Email</MudText>
				</MudListItem>

				<MudListItem Avatar="@Icons.Material.Filled.Phone">
					<MudText Typo="Typo.h6" Style="font-weight:bold">+64 567 898 898</MudText>
					<MudText Typo="Typo.body2">Phone</MudText>
				</MudListItem>

				<MudListItem Avatar="@Icons.Material.Filled.Work">
					<MudText Typo="Typo.h6" Style="font-weight:bold">Software and Hardware</MudText>
					<MudText Typo="Typo.body2">Industry</MudText>
				</MudListItem>



			</MudList>

			<!--<MudButton Class="mt-1" Variant="Variant.Filled" Color="Color.Success" FullWidth>Contact</MudButton>-->
			<MudButton Href="edit-recruiter-information" Class="mt-1" Variant="Variant.Filled" Color="Color.Success" FullWidth>Edit Information</MudButton>

		</MudItem>
	</MudGrid>




</MudContainer>