.my-control1 {
    margin-top: 0px;
}

    .my-control1 > .mud-input-control-input-container > div.mud-input.mud-input-text {
        margin-top: 0px;
    }

    .my-control1 .mud-input {
        font-size: 10px;
    }

/* text of the control */

.my-popover1 .mud-typography-body1 {
    font-size: 0.8rem;
}
/* elements in the control list */


