<MudBreakpointProvider>
    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <MudCard Outlined="true" Class="d-flex">
            <MudCardContent Style="width:100%;" Class="d-flex justify-space-between flex-grow-1 gap-4 align-center">
                <MudContainer Class="d-flex align-center">
                    <MudImage Src="images/image.jpeg" Alt="Mony the dog" Height="100" Width="100" Elevation="25" Class="rounded-lg" />
                    <MudContainer>
                        <div Class="d-flex align-center">
                            <MudText Typo="Typo.h6 " Class="mr-10">Maven's Technologies</MudText>
                            <MudChip Size="Size.Small" Variant="Variant.Outlined" Color="Color.Secondary">Remote</MudChip>
                            <MudChip Size="Size.Small" Variant="Variant.Outlined" Color="Color.Primary">React</MudChip>
                        </div>
                        <MudText Typo="Typo.body2">Web Developer Needed</MudText>
                    </MudContainer>
                </MudContainer>
                <div>
                    <MudText Typo="Typo.h5" >$100.00</MudText>
                    <MudText Typo="Typo.caption">2 days ago</MudText>
                </div>
            </MudCardContent>

        </MudCard>
    </MudHidden>



</MudBreakpointProvider>